<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who I've Applied To (on HackerNews)</title>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/moment@2.17.1/min/moment.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <style>
      .card {
        width: 100%;
        margin-bottom: 20px;
      }
      .permahide {
        color: #7a7a7a; /* $grey in bulma */
        width: auto;
        padding-right: 10px;
      }
      .permahide:before {
        content: '[x]';
      }
      .permahide:hover:before {
        content: 'Remove "forever" [x]';
        color: #ff470f; /* $orange in bulma */
      }
    </style>
  </head>

  <body>
    <div id="hn">
      <div class="box">
        <div class="container">
          <div class="columns is-gapless">
            <div class="column">
              This is a little toy app to keep track of HackerNews "Who Is Hiring?" job applications.
            </div>
            <div class="column is-narrow is-pulled-right">
              <label class="button">
                <input type="text" class=".input" v-model="query" placeholder="Search" @keydown.esc="query = ''">
              </label>
              <label class="button">
                <input type="checkbox" value="saved" v-model="filters">
                &nbsp;
                Filter Saved
              </label>
            </div>
            <div class="column is-narrow is-pulled-right">
              <label class="button">
                <input type="checkbox" value="applied" v-model="filters">
                &nbsp;
                Filter Applied
              </label>
            </div>
            <div class="column is-narrow is-pulled-right">
              <label class="button is-primary" @click="toggleAllCards">
                Toggle Cards
              </label>
            </div>
            <div class="column is-narrow is-pulled-right">
              <label class="button is-primary" @click="toggleAllNotes">
                Toggle Notes
              </label>
            </div>
            <div class="column is-narrow is-pulled-right">
              <label class="button is-danger" @click="clearAndGetHnApi">
                Reset
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <job-post v-for="job in jobPosts"
          :by="job.by"
          :id="job.id"
          :time="job.time"
          :text="job.text"
        ></job-post>
      </div>
    </div>
  </body>

  <script>
    var getCachedItem = function(postId) {
      var cachedPost = localStorage.getItem(postId)

      if (cachedPost === undefined || cachedPost ===null) {return cachedPost}

      if (cachedPost.length > 0) {
        return JSON.parse(cachedPost)
      } else {
        return null
      }
    }

    var setCachedItem = function(cachedItemId, obj) {
      localStorage.setItem(cachedItemId, JSON.stringify(obj))
    }

    var UserLink = {
      props: ['username'],
      template: '<a :href="userUrl">{{ username }}</a>',
      computed: {
        userUrl() {return 'https://news.ycombinator.com/user?id=' + this.username}
      }
    }

    var PermaLink = {
      props: ['id', 'time'],
      template: '<a :href="itemUrl">{{ timestamp }}</a>',
      computed: {
        itemUrl() {return 'https://news.ycombinator.com/item?id=' + this.id},
        timestamp() {return moment.unix(this.time).format('MMMM Do YYYY, h:mm:ssa')}
      }
    }

    var JobPost = {
      props: ['by', 'id', 'time', 'text'],
      components: {
        'userlink': UserLink,
        'permalink': PermaLink
      },
      data: () => {
        return {
          notes: '',
          hideInstance: false,
          showCard: true,
          showNotes: false,
          showCardContent: true,
          saved: false,
          applied: false
        }
      },
      template: `
        <div class="card" v-show="showCard" v-if="!hideInstance">
          <header class="card-header">
            <a class="card-header-icon is-pulled-left" @click="showCardContent = !showCardContent">
              {{ openClose(this.showCardContent) }}
            </a>
            <p class="card-header-title" v-html="firstLine"></p>
            <a class="card-header-icon is-pulled-right permahide" @click="hideInstance = true">
            </a>
          </header>
          <div class="card-content" v-show="showCardContent">
            <div class="content">
              <span v-html="text"></span>
              <p></p>
              <p><small>> <permalink :id="id" :time="time"></permalink> by <userlink :username="by"></userlink></small></p>
            </div>
          </div>
          <div class="card-content" v-show="showNotes">
            <textarea type="text" class="textarea" v-model="notes"></textarea>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" @click="showNotes = !showNotes">{{ openClose(showNotes) }} Notes</a>
            <label class="checkbox card-footer-item">
              <input type="checkbox" v-model="saved">
              &nbsp;
              <a>{{ this.saved ? 'Saved' : 'Save' }}</a>
            </label>
            <label class="checkbox card-footer-item">
              <input type="checkbox" v-model="applied">
              &nbsp;
              <a>{{ this.applied ? 'Applied!' : 'Applied?' }}</a>
            </label>
          </footer>
        </div>
      `,
      methods: {
        saveData() {
          setCachedItem(this.id+'-data', this.$data)
        },
        openClose(bool) {
          return bool ? '[-]' : '[+]'
        },
        search(query) {
          query = query.trim().toLowerCase()
          text = this.text.trim().toLowerCase()
          if (query[0] === '-' || query[0] === '!') {
            query = query.slice(1, query.length)
            return !(text.indexOf(query) >= 0)
          } else {
            return text.indexOf(query) >= 0
          }
        }
      },
      computed: {
        savedData() {
          return {
            notes: this.notes,
            hideInstance: this.hideInstance,
            showNotes: this.showNotes,
            showCardContent: this.showCardContent,
            saved: this.saved,
            applied: this.applied
          }
        },
        firstLine() {
          if (this.text){
            return this.text.trim().split('<p>')[0]
          }
        }
      },
      watch: {
        savedData() {this.saveData()}
      },
      mounted() {
        var cachedData = getCachedItem(this.id+'-data')

        for (var attrname in cachedData) { this[attrname] = cachedData[attrname]; }
      }
    };

    var whoIsHiring = new Vue({
      el: '#hn',
      data: {
        showAll: true,
        showAllNotes: false,
        jobPostIds: [],
        jobPosts: [],
        filters: [],
        monthId: 13301832,
        query: ''
      },
      components: {
        'job-post': JobPost
      },
      methods: {
        itemApiUrl(itemId) {
          return 'https://hacker-news.firebaseio.com/v0/item/' + itemId + '.json'
        },
        clearAndGetHnApi() {
          localStorage.clear()
          this.getParamMonth()
        },
        getParamMonth() {
          var regex = /id=([0-9]+)/;
          var matches = regex.exec(window.location.search);

          if (matches) {
            var monthId = matches[1]
            this.getHnApi(monthId)
          } else {
            this.getHnApi()
          }
        },
        getHnApi(monthId) {
          monthId = monthId || this.monthId

          whoIsHiring = this
          whoIsHiring.jobPosts = []
          whoIsHiring.jobPostIds = []

          axios.get(this.itemApiUrl(monthId))
            .then(function (response) {
              whoIsHiring.jobPostIds = response.data.kids;
              whoIsHiring.jobPostIds.forEach(function(postId) {
                var cachedPost = getCachedItem(postId)
                if (cachedPost) {
                  var cachedData = getCachedItem(postId+'-data') || {}
                  if (!cachedData.hideInstance) {
                    whoIsHiring.jobPosts.push(cachedPost)
                  }
                } else {
                  axios.get(whoIsHiring.itemApiUrl(postId))
                    .then(function (response) {
                      if (!response.data || !response.data.text) {return}

                      var emptyText = /\A\s*\z/.exec(response.data.text)
                      if (emptyText) {return}

                      whoIsHiring.jobPosts.push(response.data)
                      setCachedItem(postId, response.data)
                    })
                    .catch(function (error) {
                      console.log('Error fetching the job post.')
                    })
                }
              });
            })
            .catch(function (error) {
              console.log('Error fetching the who is hiring post.')
            })
        },
        toggleAllCards() {
          this.showAll = !this.showAll

          this.$children.forEach((child) => {
            if (child.showCard) {
              child.showCardContent = this.showAll
            }
          })
        },
        toggleAllNotes() {
          this.showAllNotes = !this.showAllNotes

          this.$children.forEach((child) => {
            if (child.showCard) {
              child.showNotes = this.showAllNotes
            }
          })
        }
      },
      watch: {
        filters() {
          this.$children.forEach((child) => {
            if (this.filters.length === 0) { return child.showCard = true }

            child.showCard = this.filters
              .map((filter) => {
                return child[filter]
              })
              .reduce((filterStatusA, filterStatusB) => {
                if (this.filters.length > 1) {
                  return filterStatusA && filterStatusB
                } else {
                  return filterStatusA || filterStatusB
                }
              })
          });
        },
        query: _.debounce(() => {
          whoIsHiring.$children.forEach((child) => {
            if (whoIsHiring.query === '') { return child.showCard = true }

            if (child && child.text) {
              if (whoIsHiring.query.indexOf('&&') >= 0) {
                child.showCard = whoIsHiring.query.split('&&').map((andTerm) => {
                  return child.search(andTerm.trim())
                }).reduce((andBoolA, andBoolB) => {
                  return andBoolA && andBoolB
                })
              } else if (whoIsHiring.query.indexOf('||') >= 0) {
                child.showCard = whoIsHiring.query.split('||').map((orTerm) => {
                  return child.search(orTerm.trim())
                }).reduce((orBoolA, orBoolB) => {
                  return orBoolA || orBoolB
                })
              } else {
                child.showCard = child.search(whoIsHiring.query)
              }
            }
          });
        }, 200)
      },
      mounted() {
        this.getParamMonth()
      }
    });
  </script>
</html>
