<!DOCTYPE html>

<html>
  <head>
    <title>Who I've Applied To (on HackerNews)</title>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/moment@2.17.1/min/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <style>
      .card {
        width: 100%;
        margin-bottom: 20px;
      }
      .permahide {
        color: #7a7a7a; /* $grey in bulma */
        width: auto;
        padding-right: 10px;
      }
      .permahide:before {
        content: '[x]';
      }
      .permahide:hover:before {
        content: 'Remove "forever" [x]';
        color: #ff470f; /* $orange in bulma */
      }
    </style>
  </head>

  <body>
    <div id="hn">
      <div class="box">
        <div class="columns is-gapless">
          <div class="column">
            This is a little toy app to keep track of HackerNews "Who Is Hiring?" job applications.
          </div>
          <div class="column is-narrow is-pulled-right">
            <label class="button" >
              <input type="checkbox" value="saved" v-model="filters" @change="filterJobPosts">
              &nbsp;
              Filter Saved
            </label>
          </div>
          <div class="column is-narrow is-pulled-right">
            <label class="button" >
              <input type="checkbox" value="applied" v-model="filters" @change="filterJobPosts">
              &nbsp;
              Filter Applied
            </label>
          </div>
          <div class="column is-narrow is-pulled-right">
            <label class="button is-danger" @click="getHnApi()">
              Reset
            </label>
          </div>
        </div>
      </div>
      <div class="container">
        <job-post v-for="job in jobPosts"
          :by="job.by"
          :id="job.id"
          :time="job.time"
          :text="job.text"
        ></job-post>
      </div>
    </div>
  </body>

  <script>
    var userUrl = function(username) {
      return 'https://news.ycombinator.com/user?id=' + username
    }

    var itemUrl = function(itemId) {
      return 'https://news.ycombinator.com/item?id=' + itemId
    }

    var itemApiUrl = function(itemId) {
      return 'https://hacker-news.firebaseio.com/v0/item/' + itemId + '.json'
    }

    var getCachedItem = function(postId) {
      var cachedPost = localStorage.getItem(postId)

      if (cachedPost === undefined || cachedPost ===null) {return cachedPost}

      if (cachedPost.length > 0) {
        return JSON.parse(cachedPost)
      } else {
        return null
      }
    }

    var setCachedItem = function(cachedItemId, obj) {
      localStorage.setItem(cachedItemId, JSON.stringify(obj))
    }

    var UserLink = {
      props: ['username'],
      template: '<a :href="userUrl">{{ username }}</a>',
      computed: {
        userUrl() {return userUrl(this.username)}
      }
    }

    var PermaLink = {
      props: ['id', 'time'],
      template: '<a :href="itemUrl">{{ timestamp }}</a>',
      computed: {
        itemUrl() {return itemUrl(this.id)},
        timestamp() {return moment.unix(this.time).format('MMMM Do YYYY, h:mm:ssa')}
      }
    }

    var JobPost = {
      props: ['by', 'id', 'time', 'text'],
      components: {
        'userlink': UserLink,
        'permalink': PermaLink
      },
      data: () => {
        return {
          notes: '',
          hidden: false,
          showInstance: true,
          showNotes: false,
          showCard: true,
          saved: false,
          applied: false
        }
      },
      template: `
        <div class="card" v-show="showInstance" v-if="!hidden">
          <header class="card-header">
            <a class="card-header-icon is-pulled-left" @click="toggleShowCard">
              {{ openClose(this.showCard) }}
            </a>
            <p class="card-header-title" v-html="firstLine"></p>
            <a class="card-header-icon is-pulled-right permahide" @click="permahide">
            </a>
          </header>
          <div class="card-content" v-show="showCard">
            <div class="content">
              <span v-html="text"></span>
              <p></p>
              <p><small>> <permalink :id="id" :time="time"></permalink> by <userlink :username="by"></userlink></small></p>
            </div>
          </div>
          <div class="card-content" v-show="showNotes">
            <textarea type="text" class="textarea" v-model="notes" @keyup="saveData"></textarea>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" @click="toggleShowNotes">{{ openClose(showNotes) }} Notes</a>
            <label class="checkbox card-footer-item" @click="saveData">
              <input type="checkbox" v-model="saved">
              &nbsp;
              <a>{{ this.saved ? 'Saved' : 'Save' }}</a>
            </label>
            <label class="checkbox card-footer-item" @click="saveData">
              <input type="checkbox" v-model="applied">
              &nbsp;
              <a>{{ this.applied ? 'Applied!' : 'Applied?' }}</a>
            </label>
          </footer>
        </div>
      `,
      methods: {
        saveData() {
          // Allows Vue to update the property before persisting the data
          setTimeout(this._saveData, 50)
        },
        _saveData() {
          setCachedItem(this.id+'-data', this.$data)
        },
        toggleShowNotes() {
          this.showNotes = !this.showNotes
          this.saveData()
        },
        toggleShowCard() {
          this.showCard = !this.showCard
          this.saveData()
        },
        openClose(bool) {
          return bool ? '[-]' : '[+]'
        },
        permahide() {
          this.hidden = true
          this.saveData()
        }
      },
      computed: {
        firstLine() {
          if (this.text){
            return this.text.trim().split('<p>')[0]
          }
        }
      },
      mounted() {
        var cachedData = getCachedItem(this.id+'-data')
        for (var attrname in cachedData) { this[attrname] = cachedData[attrname]; }
      }
    };

    var whoIsHiring = new Vue({
      el: '#hn',
      data: {
        jobPostIds: [],
        jobPosts: [],
        filters: [],
        monthId: 13301832
      },
      components: {
        'job-post': JobPost
      },
      methods: {
        filterJobPosts() {
          setTimeout(this._filterJobPosts, 50)
        },
        _filterJobPosts() {
          this.$children.forEach((child) => {
            if (this.filters.length === 0) { return child.showInstance = true }

            child.showInstance = this.filters
              .map((filter) => {
                return child[filter]
              })
              .reduce((filterStatusA, filterStatusB) => {
                if (this.filters.length > 1) {
                  return filterStatusA && filterStatusB
                } else {
                  return filterStatusA || filterStatusB
                }
              })
          });
        },
        getHnApi(monthId) {
          monthId = monthId || this.monthId

          var rootApp = this
          rootApp.jobPosts = []
          rootApp.jobPostIds = []

          axios.get(itemApiUrl(monthId))
            .then(function (response) {
              rootApp.jobPostIds = response.data.kids;
              rootApp.jobPostIds.forEach((postId)=>{
                var cachedPost = getCachedItem(postId)
                if (cachedPost) {
                  var cachedData = getCachedItem(postId+'-data') || {}
                  if (!cachedData.hidden) {
                    rootApp.jobPosts.push(cachedPost)
                  }
                } else {
                  axios.get(itemApiUrl(postId))
                    .then(function (response) {
                      rootApp.jobPosts.push(response.data)
                      setCachedItem(postId, response.data)
                    })
                    .catch(function (error) {
                      console.log('Something went wrong fetching the job post.')
                    })
                }

              });
            })
            .catch(function (error) {
              console.log('Something else went wrong fetching the who is hiring post.')
            })
        }
      },
      mounted() {
        var regex = /id=([0-9]+)/;
        var matches = regex.exec(window.location.search);

        if (matches) {
          var monthId = matches[1]
          this.getHnApi(monthId)
        } else {
          this.getHnApi()
        }
      }
    });
  </script>
</html>
