<!DOCTYPE html>

<html>
  <head>
    <title>HackerNews - Who I've Applied To</title>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <style>
      .card {
        width: 100%;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <div class="box">This is a little toy app to keep track of which companies you've applied to on HackerNews's "Who Is Hiring?" posts.</div>
    <div class="columns">
      <div class="column is-2"></div>
      <div id="hn" class="column is-8">
        <job-post v-for="job in jobPosts" :by="job.by" :id="job.id" :time="job.time" :text="job.text"></job-post>
      </div>
    </div>
  </body>

  <script>
    var userUrl = function(username) {
      return 'https://news.ycombinator.com/user?id=' + username
    }

    var itemUrl = function(itemId) {
      return 'https://news.ycombinator.com/item?id=' + itemId
    }

    var itemApiUrl = function(itemId) {
      return 'https://hacker-news.firebaseio.com/v0/item/' + itemId + '.json'
    }

    var getCachedItem = function(postId) {
      var cachedPost = localStorage.getItem(postId)

      if (cachedPost === undefined || cachedPost ===null) {return cachedPost}

      if (cachedPost.length > 0) {
        return JSON.parse(cachedPost)
      } else {
        return null
      }
    }

    var setCachedItem = function(postId, obj) {
      localStorage.setItem(postId, JSON.stringify(obj))
    }

    var UserLink = {
      props: ['username'],
      template: '<a :href="userUrl">{{ username }}</a>',
      computed: {
        userUrl() {return userUrl(this.username)}
      }
    }

    var PermaLink = {
      props: ['id', 'time'],
      template: '<a :href="itemUrl">{{ timestamp }}</a>',
      computed: {
        itemUrl() {return itemUrl(this.id)},
        timestamp() {return moment.unix(this.time).format('MMMM Do YYYY, h:mm:ssa')}
      }
    }

    var JobPost = {
      props: ['by', 'id', 'time', 'text'],
      components: {
        'userlink': UserLink,
        'permalink': PermaLink
      },
      data: () => {
        return {
          notes: '',
          showNotes: false,
          showCard: true
        }
      },
      template: `
        <div class="card">
          <header class="card-header">
            <a class="card-header-icon is-pulled-left" @click="toggleShowCard">
              {{ this.showCard ? '[-]' : '[+]' }}
            </a>
            <p class="card-header-title" v-html="firstLine"></p>
          </header>
          <div class="card-content" v-show="showCard">
            <div class="content">
              <span v-html="text"></span>
              <p></p>
              <p><small>> <permalink :id="id" :time="time"></permalink> - by <userlink :username="by"></userlink></small></p>
            </div>
            <textarea type="text" class="textarea" v-show="showNotes" v-model="notes" @keyup="saveNotes"></textarea>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" @click="toggleShowNotes">Notes</a>
            <label class="checkbox card-footer-item">
              <input type="checkbox">
              &nbsp;
              <a>Applied?</a>
            </label>
          </footer>
        </div>
      `,
      methods: {
        saveNotes() {
          localStorage.setItem(this.id+'-notes', this.notes)
        },
        toggleShowNotes() {
          this.showNotes = !this.showNotes
        },
        toggleShowCard() {
          this.showCard = !this.showCard
        }
      },
      computed: {
        firstLine() {
          if (this.text){
            return this.text.trim().split('<p>')[0]
          }
        }
      },
      mounted() {
        this.notes = localStorage.getItem(this.id+'-notes')
      }
    };

    var whoIsHiring = new Vue({
      el: '#hn',
      data: {
        jobPostIds: [],
        jobPosts: [],
        hiringMonthId: 13301832
      },
      components: {
        'job-post': JobPost
      },
      mounted() {
        var rootApp = this;
        axios.get(itemApiUrl(this.hiringMonthId))
          .then(function (response) {
            rootApp.jobPostIds = response.data.kids;
            rootApp.jobPostIds.forEach((postId)=>{
              var cachedPost = getCachedItem(postId)
              if (cachedPost) {
                rootApp.jobPosts.push(cachedPost)
              } else {
                axios.get(itemApiUrl(postId))
                  .then(function (response) {
                    rootApp.jobPosts.push(response.data)
                    setCachedItem(postId, response.data)
                  })
                  .catch(function (error) {
                    console.log('Something went wrong fetching the job post.')
                  })
              }

            });
          })
          .catch(function (error) {
            console.log('Something else went wrong fetching the who is hiring post.')
          })
      }
    });
  </script>
</html>
